body {
background: pink;
}



h1 {
  color: cornsilk;
  font-size: 3em; 
}

h2 {
  color: goldenrod;
  font-weight: normal;
  font-style: italic;
}

.completed {
  font-size: 12px;
}

#tasks .completed {
  background: #ccc
}